{{>header}}

<div class="myTeam jumbotron mx-5 mt-5 py-3 px-3">

    <div class="card">
      <div class="card-body">
        <h3 class="float-left">Welcome <span>{{username}}</span></h3>
        <h4 class="float-right">Fantasy Score: &nbsp; <span class="fantasyScore">&nbsp;&nbsp;</span></h4>
      </div>
    </div>

    <div class="card cardHeight mt-3">
      <div class="card-body pb-0 row">
        <h4 class="col-sm-4">My Team</h4>
        <h5 class="offset-sm-4 col-sm-4 text-right">Spots Remaining: <span id="spotsRemaining">16</span></h5>
      </div>
      <div class="card-body">

        <div class="row row1Team myTeam rowTeam">
          {{!-- <div class="col-sm-6">
            <div class="row text-center">
              <div class="team myTeam alert-success mx-1 text-light col-sm" id="team">?</div>
              <div class="team myTeam alert-success mx-1 text-light col-sm" id="team">?</div>
              <div class="team myTeam alert-success mx-1 text-light col-sm" id="team">?</div>
              <div class="team myTeam alert-success mx-1 text-light col-sm" id="team">?</div>
            </div>
            <div class="row text-center">
              <div class="myTeamName myTeamName1 col-sm">name</div>
              <div class="myTeamName myTeamName2 col-sm">name</div>
              <div class="myTeamName myTeamName3 col-sm">name</div>
              <div class="myTeamName myTeamName4 col-sm">name</div>
            </div>
          </div> --}}
          {{!-- <div class="col-sm-6">
            <div class="row text-center">
              <div class="team myTeam alert-success mx-1 text-light col-sm" id="team">?</div>
              <div class="team myTeam alert-success mx-1 text-light col-sm" id="team">?</div>
              <div class="team myTeam alert-success mx-1 text-light col-sm" id="team">?</div>
              <div class="team myTeam alert-success mx-1 text-light col-sm" id="team">?</div>
            </div>
            <div class="row text-center">
              <div class="myTeamName myTeamName5 col-sm">name</div>
              <div class="myTeamName myTeamName6 col-sm">name</div>
              <div class="myTeamName myTeamName7 col-sm">name</div>
              <div class="myTeamName myTeamName8 col-sm">name</div>
            </div>
          </div> --}}
        </div>

      </div>
    </div>
    
    {{!-- <div class="card cardHeight mt-3">
      <div class="card-body pb-0"><h4>WatchList</h4></div>
      <div class="card-body">

        <div class="row">
          <div class="col-sm-6">
            <div class="row rowTeam text-center">
              <div class="team watch1 alert-primary mx-1 text-light col-sm" id="team">?</div>
              <div class="team watch2 alert-primary mx-1 text-light col-sm" id="team">?</div>
              <div class="team watch3 alert-primary mx-1 text-light col-sm" id="team">?</div>
              <div class="team watch4 alert-primary mx-1 text-light col-sm" id="team">?</div>
            </div>
            <div class="row text-center">
              <div class="watchName1 col-sm">name</div>
              <div class="watchName2 col-sm">name</div>
              <div class="watchName3 col-sm">name</div>
              <div class="watchName4 col-sm">name</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row rowTeam text-center">
              <div class="team watch5 alert-primary mx-1 text-light col-sm" id="team">?</div>
              <div class="team watch6 alert-primary mx-1 text-light col-sm" id="team">?</div>
              <div class="team watch7 alert-primary mx-1 text-light col-sm" id="team">?</div>
              <div class="team watch8 alert-primary mx-1 text-light col-sm" id="team">?</div>
            </div>
            <div class="row text-center">
              <div class="watchName5 col-sm">name</div>
              <div class="watchName6 col-sm">name</div>
              <div class="watchName7 col-sm">name</div>
              <div class="watchName8 col-sm">name</div>
            </div>
          </div>
        </div>

      </div>
    </div> --}}
      <div class="edit mt-3">
      <div class="playerSearchBar row mx-3">
          <div class="col-sm-2">
            <button class="btn editBtn btn-danger">Edit</button>
          </div>
          <div class="col-sm-10 editBar d-none">
            <div class="row">
              <div class="col-sm-12 dashAdd pt-2 mx-0 rounded bg-light"></div>
            </div>
            <div class="row justify-content-end mt-3">  
              <label class="col-sm-2 text-right pt-2">Add Players</label>
              <input list="playerDropdown" id="playerSearch" class="form-control col-sm-4 pr-0 mr-0" type="text"
                placeholder="Kevin Durant">
              <datalist id="playerDropdown">
                <option value="Kevin Durant">
                <option value="Stephen Curry">
                <option value="James Harden">
                <option value="Chris Paul">
                <option value="Dwight Howard">
              </datalist>
              <button type="button" class="playerAddBtn btn btn-success mr-3 pb-1"> + </button>
              <div class="pull-right col-sm-3 mx-0 pl-0 text-right">
                <button type="button" class="addToMyTeam btn btn-success"> Add To My Team </button>
                <button type="button" class="addToWatchList addToMyTeam btn btn-primary d-none"> Add To WatchList </button>
              </div>
            </div>
            
          </div>
        </div>
      </div>

    

</div>

{{!-- dashboard stuff --}}
<div class="dashboard jumbotron mx-5 mt-5 py-3 px-3">

    <div class="card">
      <div class="card-body">
        <h4>Dashboard</h4>
      </div>

      {{#each userDashboard}}
      <div class="mx-3 my-3" id="user-tables{{this.id}}">
        {{!-- Append user tables here for now --}}
        {{!-- {{table}} --}}
      </div>
      {{/each}}
    </div>

    {{!-- <div class="row mt-3">

      <div class="card mx-3" style="width: 18rem; height: 18rem;">
        <div class="card-header">
          Featured
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
        </ul>
      </div>

      <div class="card" style="width: 18rem; height: 18rem;">
        <img class="card-img-top" src="https://picsum.photos/200/200" alt="Card image cap">
      </div>

      <table class="col-sm mx-3 table table-striped table-dark" style="height: 18rem;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Moe</td>
            <td>Joe</td>
            <td>@yes</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="row mt-3">

      <div class="card mx-3" style="width: 18rem; height: 18rem;">
        <div class="card-header">
          Featured
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
        </ul>
      </div>

      <div class="card" style="width: 18rem; height: 18rem;">
        <img class="card-img-top" src="https://picsum.photos/200/200" alt="Card image cap">
      </div>

      <table class="col-sm mx-3 table table-striped table-dark" style="height: 18rem;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Moe</td>
            <td>Joe</td>
            <td>@yes</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div> --}}

  <div id="user-dashboard" class="d-none">
    {{#each userDashboard}}
      <div>
        <span id="data{{this.id}}"> {{{ this.tableData }}} </span> <br><br>   
        <span id="column{{this.id}}"> {{{ this.columnData }}} </span> <br><br>
      </div>
    {{/each}}
  </div>
</div>

  {{>footer}}

  <script rel="text/javascript" src="/assets/js/dashboard.js"></script>